In [12]:
import pandas as pd
import numpy as np
import sys

sys.stdout = open('output.txt','w')

inv = pd.read_csv('data/inv.csv')
pnr = pd.read_csv('data/pnr.csv')
sch = pd.read_csv('data/sch.csv')

inv.set_index('InventoryId')

,ScheduleId,FlightNumber,AircraftType,DepartureDate,ArrivalDate,DepartureAirport,ArrivalAirport,TotalCapacity,TotalInventory,BookedInventory,...,PC_Oversold,PC_AvailableInventory,EC_TotalInventory,EC_BookedInventory,EC_Oversold,EC_AvailableInventory,FC_CD,BC_CD,PC_CD,EC_CD
InventoryId,,,,,,,,,,,,,,,,,,,,,
INV-ZZ-4381149,SCH-ZZ-8305184,3083,Airbus A320 Neo,08/23/2024,08/23/2024,CNN,CCJ,180,202,50,...,39,47,84,21,51,63,"{'F': 11, 'P': 7}","{'C': 14, 'J': 11, 'Z': 11}","{'Q': 16, 'R': 11, 'S': 5, 'T': 5, 'H': 11, 'M...","{'Y': 5, 'A': 5, 'B': 3, 'D': 3, 'E': 3, 'G': ..."
INV-ZZ-1469162,SCH-ZZ-8305185,3083,Airbus A320 Neo,08/26/2024,08/26/2024,CNN,HYD,180,212,53,...,38,48,84,21,51,63,"{'F': 11, 'P': 7}","{'C': 14, 'J': 11, 'Z': 11}","{'Q': 16, 'R': 11, 'S': 5, 'T': 5, 'H': 11, 'M...","{'Y': 5, 'A': 5, 'B': 3, 'D': 3, 'E': 3, 'G': ..."
INV-ZZ-8979375,SCH-ZZ-7310425,2943,Boeing 767,08/22/2024,08/22/2024,MAA,CCJ,278,314,78,...,60,70,129,32,79,97,"{'F': 16, 'P': 11}","{'C': 22, 'J': 16, 'Z': 16}","{'Q': 25, 'R': 17, 'S': 8, 'T': 8, 'H': 17, 'M...","{'Y': 8, 'A': 8, 'B': 4, 'D': 4, 'E': 4, 'G': ..."
INV-ZZ-2915201,SCH-ZZ-3126325,4211,ATR 72,01/28/2024,01/28/2024,MAA,HYD,72,85,62,...,3,7,31,23,5,8,"{'F': 4, 'P': 3}","{'C': 6, 'J': 4, 'Z': 4}","{'Q': 6, 'R': 4, 'S': 2, 'T': 2, 'H': 4, 'M': 2}","{'Y': 2, 'A': 2, 'B': 1, 'D': 1, 'E': 1, 'G': ..."
INV-ZZ-7178111,SCH-ZZ-4285322,4204,Boeing 787,04/25/2024,04/25/2024,CCJ,HYD,270,303,162,...,29,45,120,64,44,56,"{'F': 16, 'P': 11}","{'C': 22, 'J': 16, 'Z': 16}","{'Q': 24, 'R': 16, 'S': 8, 'T': 8, 'H': 16, 'M...","{'Y': 8, 'A': 8, 'B': 4, 'D': 4, 'E': 4, 'G': ..."
INV-ZZ-1875559,SCH-ZZ-7283355,3417,Boeing 787,05/25/2024,05/25/2024,CNN,MAA,270,300,144,...,36,49,127,61,47,66,"{'F': 16, 'P': 11}","{'C': 22, 'J': 16, 'Z': 16}","{'Q': 24, 'R': 16, 'S': 8, 'T': 8, 'H': 16, 'M...","{'Y': 8, 'A': 8, 'B': 4, 'D': 4, 'E': 4, 'G': ..."

In [13]:
inv.head()

,InventoryId,ScheduleId,FlightNumber,AircraftType,DepartureDate,ArrivalDate,DepartureAirport,ArrivalAirport,TotalCapacity,TotalInventory,...,PC_Oversold,PC_AvailableInventory,EC_TotalInventory,EC_BookedInventory,EC_Oversold,EC_AvailableInventory,FC_CD,BC_CD,PC_CD,EC_CD
0,INV-ZZ-4381149,SCH-ZZ-8305184,3083,Airbus A320 Neo,08/23/2024,08/23/2024,CNN,CCJ,180,202,...,39,47,84,21,51,63,"{'F': 11, 'P': 7}","{'C': 14, 'J': 11, 'Z': 11}","{'Q': 16, 'R': 11, 'S': 5, 'T': 5, 'H': 11, 'M...","{'Y': 5, 'A': 5, 'B': 3, 'D': 3, 'E': 3, 'G': ..."
1,INV-ZZ-1469162,SCH-ZZ-8305185,3083,Airbus A320 Neo,08/26/2024,08/26/2024,CNN,HYD,180,212,...,38,48,84,21,51,63,"{'F': 11, 'P': 7}","{'C': 14, 'J': 11, 'Z': 11}","{'Q': 16, 'R': 11, 'S': 5, 'T': 5, 'H': 11, 'M...","{'Y': 5, 'A': 5, 'B': 3, 'D': 3, 'E': 3, 'G': ..."
2,INV-ZZ-8979375,SCH-ZZ-7310425,2943,Boeing 767,08/22/2024,08/22/2024,MAA,CCJ,278,314,...,60,70,129,32,79,97,"{'F': 16, 'P': 11}","{'C': 22, 'J': 16, 'Z': 16}","{'Q': 25, 'R': 17, 'S': 8, 'T': 8, 'H': 17, 'M...","{'Y': 8, 'A': 8, 'B': 4, 'D': 4, 'E': 4, 'G': ..."
3,INV-ZZ-2915201,SCH-ZZ-3126325,4211,ATR 72,01/28/2024,01/28/2024,MAA,HYD,72,85,...,3,7,31,23,5,8,"{'F': 4, 'P': 3}","{'C': 6, 'J': 4, 'Z': 4}","{'Q': 6, 'R': 4, 'S': 2, 'T': 2, 'H': 4, 'M': 2}","{'Y': 2, 'A': 2, 'B': 1, 'D': 1, 'E': 1, 'G': ..."
4,INV-ZZ-7178111,SCH-ZZ-4285322,4204,Boeing 787,04/25/2024,04/25/2024,CCJ,HYD,270,303,...,29,45,120,64,44,56,"{'F': 16, 'P': 11}","{'C': 22, 'J': 16, 'Z': 16}","{'Q': 24, 'R': 16, 'S': 8, 'T': 8, 'H': 16, 'M...","{'Y': 8, 'A': 8, 'B': 4, 'D': 4, 'E': 4, 'G': ..."

In [14]:
sch.head()

,ScheduleID,CarrierCode,FlightNumber,AircraftType,AircraftTailNumber,DepartureAirport,ArrivalAirport,DepartureTime,ArrivalTime,StartDate,...,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Frequency_per_week,Frequency,NoOfDepartures,DepartureDates
0,SCH-ZZ-7283355,ZZ,2016,Boeing 787,VT-2620,CCN,MAA,11:13,11:41,05/25/2024,...,0,0,1,0,0,1,2,47,2,"['12/16/2023', '12/20/2023']"
1,SCH-ZZ-7310425,ZZ,2678,Boeing 767,VT-1375,MAA,CCJ,17:34,14:17,08/22/2024,...,0,0,0,1,0,1,2,57,3,"['12/07/2023', '12/09/2023', '12/14/2023']"
2,SCH-ZZ-2469436,ZZ,2102,Airbus A320 Neo,VT-1490,CCN,CCJ,6:46,6:47,08/23/2024,...,1,0,0,1,1,1,4,2567,5,"['12/16/2023', '12/18/2023', '12/21/2023', '12..."
3,SCH-ZZ-3126325,ZZ,3171,ATR 72,VT-9254,MAA,HYD,10:45,18:58,01/28/2024,...,1,1,0,0,0,0,2,23,3,"['12/12/2023', '12/18/2023', '12/19/2023']"
4,SCH-ZZ-4285322,ZZ,2016,Boeing 787,VT-2620,CCJ,HYD,11:13,11:41,04/25/2024,...,0,0,1,0,0,1,2,47,2,"['12/16/2023', '12/20/2023']"

In [15]:
pd.merge(inv,sch,right_on='ScheduleID',left_on='ScheduleId')

,InventoryId,ScheduleId,FlightNumber_x,AircraftType_x,DepartureDate,ArrivalDate,DepartureAirport_x,ArrivalAirport_x,TotalCapacity,TotalInventory,...,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Frequency_per_week,Frequency,NoOfDepartures,DepartureDates
0,INV-ZZ-1469162,SCH-ZZ-8305185,3083,Airbus A320 Neo,08/26/2024,08/26/2024,CNN,HYD,180,212,...,1,0,0,1,1,1,4,2567,5,"['12/16/2023', '12/18/2023', '12/21/2023', '12..."
1,INV-ZZ-8979375,SCH-ZZ-7310425,2943,Boeing 767,08/22/2024,08/22/2024,MAA,CCJ,278,314,...,0,0,0,1,0,1,2,57,3,"['12/07/2023', '12/09/2023', '12/14/2023']"
2,INV-ZZ-2915201,SCH-ZZ-3126325,4211,ATR 72,01/28/2024,01/28/2024,MAA,HYD,72,85,...,1,1,0,0,0,0,2,23,3,"['12/12/2023', '12/18/2023', '12/19/2023']"
3,INV-ZZ-7178111,SCH-ZZ-4285322,4204,Boeing 787,04/25/2024,04/25/2024,CCJ,HYD,270,303,...,0,0,1,0,0,1,2,47,2,"['12/16/2023', '12/20/2023']"
4,INV-ZZ-1875559,SCH-ZZ-7283355,3417,Boeing 787,05/25/2024,05/25/2024,CNN,MAA,270,300,...,0,0,1,0,0,1,2,47,2,"['12/16/2023', '12/20/2023']"

In [3]:
from datetime import datetime

# Example date and time strings
date_string = '2023-12-09'
time_string = '15:35'

# Combine date and time strings and define the format
datetime_string = f'{date_string} {time_string}'
date_time_format = '%Y-%m-%d %H:%M'

# Parse the combined string to create a datetime object
date_time_object = datetime.strptime(datetime_string, date_time_format)

# Now, date_time_object contains the combined date and time
print(date_time_object)

2023-12-09 15:35:00